includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src
        - config
        - database
    
    # Rule level (0-9, higher is stricter)
    level: 6
    
    ignoreErrors:
        # Ignore Laravel facade issues
        - '#Call to an undefined method Illuminate\\[a-zA-Z\\]+::[a-zA-Z]+\(\)#'
        
        # Ignore dynamic property access
        - '#Access to an undefined property [a-zA-Z\\]+::\$[a-zA-Z]+#'
        
        # Ignore missing return types for Laravel methods
        - '#Method [a-zA-Z\\]+::[a-zA-Z]+\(\) has no return type specified#'
    
    excludePaths:
        - tests/bootstrap.php
        - vendor
    
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    # Laravel specific configurations
    universalObjectCratesClasses:
        - Illuminate\Http\Request
        - Illuminate\Support\Collection